.cardList{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    min-width: 320px;
}

@media(max-width: 1119px){
    .cardList{
        width: 700px;
        justify-content: space-around;
    }
}

@media(max-width: 699px){
    .cardList{
        width: 400px;
        justify-content: space-around;
    }
}

@media(max-width: 399px){
    .cardList{
        width: 325px;
        justify-content: space-around;
    }
}