.App {
  text-align: center;
  background: url('./assets/Pattern.png');
  height: 100vh;
  width: 100vw;
}
@font-face {
  font-family: "Exo"; 
  src: url("./fonts/Exo2.0-Thin.otf"); 
  font-style: normal; 
  font-weight: normal; 
  } 


h1{
  text-align: center;
  color: white;
  padding: 23px;
  font-family: "Exo"; 
}
